Blynk button controls gate example.json
[{"id":"14a336d8.98c5a9","type":"gate","z":"b3b90da2.5019c","name":"","controlTopic":"control","defaultState":"closed","openCmd":"1","closeCmd":"0","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":590,"y":240,"wires":[["4d125eac.c95cc"]]},{"id":"897e5a60.07b618","type":"blynk-ws-in-write","z":"b3b90da2.5019c","name":"Blynk button","pin":"0","pin_all":0,"client":"","x":290,"y":400,"wires":[["a22d9680.3f3ad8"]]},{"id":"a22d9680.3f3ad8","type":"change","z":"b3b90da2.5019c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":400,"wires":[["14a336d8.98c5a9"]]},{"id":"bf75ad28.8d736","type":"comment","z":"b3b90da2.5019c","name":"Blynk button to enable/disable auto via gate","info":"","x":390,"y":360,"wires":[]},{"id":"c79ec1dc.e44d","type":"inject","z":"b3b90da2.5019c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":240,"wires":[["14a336d8.98c5a9"]]},{"id":"4d125eac.c95cc","type":"debug","z":"b3b90da2.5019c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":240,"wires":[]},{"id":"f10fe635.cffce8","type":"comment","z":"b3b90da2.5019c","name":"Your input","info":"","x":340,"y":200,"wires":[]},{"id":"3cd2bc5f.2032f4","type":"comment","z":"b3b90da2.5019c","name":"Your output","info":"","x":830,"y":200,"wires":[]},{"id":"b64d8789.6d2ee8","type":"comment","z":"b3b90da2.5019c","name":"node-red-contrib-simple-gate","info":"","x":580,"y":200,"wires":[]},{"id":"a46c4d7a.5725e","type":"comment","z":"b3b90da2.5019c","name":"This flow allows a Blynk app button to block/allow the payload through the gate","info":"","x":630,"y":100,"wires":[]}]