Blynk notify example.json
[{"id":"8396646c.f71558","type":"blynk-ws-out-notify","z":"389fe70a.e54318","name":"Node Red Test Notify","client":"","queue":true,"rate":"3","x":1040,"y":200,"wires":[]},{"id":"fe472eab.d4b17","type":"inject","z":"389fe70a.e54318","name":"","topic":"","payload":"Hi from Node Red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":380,"wires":[["8396646c.f71558"]]},{"id":"54ac7c53.a56404","type":"blynk-ws-in-write","z":"389fe70a.e54318","name":"App button pressed","pin":"0","pin_all":0,"client":"","x":150,"y":220,"wires":[["b3eb9af8.a04a78"]]},{"id":"9b6d9a63.71ce58","type":"change","z":"389fe70a.e54318","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Button was pressed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":240,"wires":[["8396646c.f71558"]]},{"id":"b3eb9af8.a04a78","type":"switch","z":"389fe70a.e54318","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":220,"wires":[["12ff5c75.df91a4"],["9b6d9a63.71ce58"]]},{"id":"12ff5c75.df91a4","type":"change","z":"389fe70a.e54318","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Button was released","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["8396646c.f71558"]]},{"id":"eacd6e97.c923b","type":"comment","z":"389fe70a.e54318","name":"Example - send in app notification when button pressed in app","info":"","x":560,"y":60,"wires":[]},{"id":"33cd493c.143466","type":"comment","z":"389fe70a.e54318","name":"Your input here","info":"","x":160,"y":160,"wires":[]},{"id":"c74a242f.4b4e18","type":"comment","z":"389fe70a.e54318","name":"Pressed or release?","info":"","x":410,"y":160,"wires":[]},{"id":"a5fb36ae.400f78","type":"comment","z":"389fe70a.e54318","name":"Set your message","info":"","x":670,"y":160,"wires":[]},{"id":"4e5862e4.90f8dc","type":"comment","z":"389fe70a.e54318","name":"Send notification message (needs notification widget in app)","info":"","x":1060,"y":160,"wires":[]},{"id":"c5c0d899.39d138","type":"comment","z":"389fe70a.e54318","name":"Test","info":"","x":770,"y":340,"wires":[]}]