Blynk reset gate example.json
[{"id":"adc7c446.bb2d48","type":"blynk-ws-in-write","z":"e6b2433b.dd359","name":"Virtual reset button","pin":"8","pin_all":0,"client":"","x":390,"y":540,"wires":[["a3efeda2.1fca3"]]},{"id":"e3ab753c.82cc18","type":"change","z":"e6b2433b.dd359","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"setCurrent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":420,"wires":[["80b9917f.bc91c"]]},{"id":"dc8c5e4b.ec367","type":"comment","z":"e6b2433b.dd359","name":"Set payload/topic","info":"This node is not required if just receiving  a number.\n\nBut if the input is from e.g. MQTT the topic will\nneed to be changed.","x":380,"y":380,"wires":[]},{"id":"80b9917f.bc91c","type":"ramp-thermostat","z":"e6b2433b.dd359","name":"Garage constant temp","profile":"1ac33692.52b5b9","hysteresisplus":"1","hysteresisminus":"1","x":640,"y":420,"wires":[["803bbc56.c2e4a"],[],[]]},{"id":"4d3fb94f.1fd2c8","type":"comment","z":"e6b2433b.dd359","name":"Thermostat (outputs 'true' or 'false'","info":"node-red-contrib-ramp-thermostat","x":640,"y":380,"wires":[]},{"id":"eb0c8c2b.11342","type":"inject","z":"e6b2433b.dd359","name":"","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":420,"wires":[["e6eef918.3bafd8","e3ab753c.82cc18"]]},{"id":"293b1ed3.0ea1d2","type":"debug","z":"e6b2433b.dd359","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":660,"wires":[]},{"id":"803bbc56.c2e4a","type":"gate","z":"e6b2433b.dd359","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":890,"y":540,"wires":[["293b1ed3.0ea1d2"]]},{"id":"9f3bed65.37166","type":"comment","z":"e6b2433b.dd359","name":"Some output","info":"","x":1090,"y":620,"wires":[]},{"id":"d21a7fbf.6dc9c","type":"change","z":"e6b2433b.dd359","name":"Set msg.payload to 'false'","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":660,"wires":[["293b1ed3.0ea1d2"]]},{"id":"a3efeda2.1fca3","type":"change","z":"e6b2433b.dd359","name":"Set topic and check for reset","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"open","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":540,"wires":[["803bbc56.c2e4a"]]},{"id":"e6eef918.3bafd8","type":"trigger","z":"e6b2433b.dd359","op1":"","op2":"close","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"Watchdog","x":360,"y":660,"wires":[["d21a7fbf.6dc9c","a3efeda2.1fca3"]]},{"id":"38d5abc0.7122f4","type":"comment","z":"e6b2433b.dd359","name":"Temperature","info":"","x":150,"y":380,"wires":[]},{"id":"f91119ca.12d5c8","type":"comment","z":"e6b2433b.dd359","name":"readme","info":"Change the topic to 'control' so the gate will\nact on the payload.\n\nCheck for '1' from the reset button to reset the \ngate to open\n\nCheck for '0' from the reset button to reset the \ngate to open.\n\nBoth 1 & 0 states are checked to avoid error\nin node red debug \"illegal command\" by the gate.\n\n","x":650,"y":500,"wires":[]},{"id":"3fcb2662.fbe2ea","type":"comment","z":"e6b2433b.dd359","name":"If watchdog triggered, send 'false' to output","info":"","x":720,"y":620,"wires":[]},{"id":"1ac33692.52b5b9","type":"profile","z":"","name":"Constant temperature 20deg","time1":"00:00","temp1":"20","time2":"23:59","temp2":"20","time3":"","temp3":"","time4":"","temp4":"","time5":"","temp5":"","time6":"","temp6":"","time7":"","temp7":"","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""}]